body {
	font-family: arial, tahoma, sans-serif;
	text-align:center;
}

div.header {
	background-color: #000000; 
	color: #FFFFFF; 
	font-family: sans-serif; 
	font-size: 12pt; 
	font-weight: bold; 
	font-style: normal; 
	padding: 3px; 
	border-color: #000000;
}
